/*LOGIN*/
body {
  padding-bottom: 40px;
  background-color: #eee;
}
/*NAVBAR*/
#debug{
  border-radius: 0;
  margin-bottom: 0;
}
.navbar-brand { position: relative; z-index: 2; }

.navbar-nav.navbar-right .btn {
  position: relative;
  z-index: 2;
  padding: 4px
  20px; margin:
  10px auto;
}

.navbar .navbar-collapse {
  position: relative;
}
.navbar .navbar-collapse .navbar-right > li:last-child {
  padding-left: 22px;
}

.navbar .nav-collapse {
  position:
  absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding-right: 120px;
  padding-left: 80px;
  width: 100%;
}
.navbar.navbar-default .nav-collapse {
  background-color: #f8f8f8;
}
.navbar.navbar-inverse .nav-collapse {
  background-color: #222;
}
.navbar .nav-collapse .navbar-form {
  border-width: 0;
  box-shadow: none;
}
.nav-collapse>li {
  float: right;
}
.btn.btn-circle {
  border-radius: 50px;
}
.btn.btn-outline {
  background-color: transparent;
}

@media screen and (max-width: 767px) {
  .navbar .navbar-collapse .navbar-right > li:last-child {
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar .nav-collapse {
    margin: 7.5px auto;
    padding: 0;
  }
  .navbar .nav-collapse .navbar-form {
    margin: 0;
  }
  .nav-collapse>li {
    float: none;
  }
}
/*HEADER*/
.jumbotron h1, p {
  text-align: center;
}
/*BLOG*/
.blogShort{ border-bottom:1px
  solid #ddd;
}
.add {
  background: #333;
  padding: 10%;
  height: 300px;
}
.nav-sidebar {
  width: 100%;
  padding: 8px 0;
  border-right: 1px solid #ddd;
}
.nav-sidebar a {
  color: #333;
  -webkit-transition: all 0.08s linear;
  -moz-transition: all 0.08s linear;
  -o-transition: all 0.08s linear;
  transition: all 0.08s linear;
}
.nav-sidebar .active a {
  cursor: default;
  background-color: #34ca78;
  color: #fff;
}
.nav-sidebar .active a:hover {
  background-color: #37D980;
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
}

.btn-blog {
  color: #ffffff;
  background-color: #37d980;
  border-color: #37d980;
  border-radius:0;
  margin-bottom:10px
}
.btn-blog:hover,
.btn-blog:focus,
.btn-blog:active,
.btn-blog.active,
.open .dropdown-toggle.btn-blog {
  color: white;
  background-color:#34ca78;
  border-color: #34ca78;
}
.margin10 {
  margin-bottom:10px;
  margin-right:10px;
}
.jumbotron {
  background-image:url("header.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  height:30em;
  margin:0;
}
.jumbotron h1 {
  color:white;
}

.jumbotron h2
{
  color:white;
}

.navbar-inverse .navbar-nav
{
  background-color:
}

.navbar-inverse .navbar-nav li a
{
  color:black;
}

.navbar-inverse .navbar-nav li a:hover
{
  color:red;
}

.navbar-inverse .navbar-brand:hover
{
  color:red
}

.btn-primary a
{
  color:white;
}

.boldtext
{
  font-weight:bold;
  font-size:25px;
  margin:1em;
}

.form-control
{
  background-color:white;
}


#center
{
  margin-left:32.5%;
}

body
{
  background-color:#eee;
}

.navbar-inverse .navbar-nav {
  padding-top:1em;
}

#debug {
  height:10em;
}

.navbar-default {
  margin-top:1.8em;
}

.centerveille
{
margin-left:45%;
}
